<template>
  <div>
    <div class="card px-3">
      <div class="card-body">
        <h4 class="card-title">Item list</h4>
        <div class="add-items d-flex">
          <form ref="form" class="form-item" @submit.prevent="addItem" @keydown="form.onKeydown($event)">
            <input type="text" class="form-control todo-list-input" v-model="form.name" placeholder="What do you need to do today?">
            <button class="add btn btn-primary font-weight-bold todo-list-add-btn" type="submit">Add</button>
          </form>
        </div>
        <div class="list-wrapper">
          <ul class="d-flex flex-column-reverse todo-list">
            <li v-if="items" v-for="item in items" :class="{ completed: item.completed_at }">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="checkbox" v-model="item.completed_at" @click="updateItem(item)" type="checkbox"> {{ item.name }} <i class="input-helper"></i>
                </label>
              </div>
              <i class="remove mdi mdi-close-circle-outline" @click="removeItem(item)"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import { mapGetters, mapActions } from 'vuex'

export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('home') }
  },

  data: () => ({
    form: new Form({
      name: null
    })
  }),

  computed: {
    ...mapGetters({
      items: 'items/items'
    })
  },

  methods: {
    ...mapActions({
      fetchItems: 'items/fetchItems',
      updateItem: 'items/updateItem',
      deleteItem: 'items/deleteItem',
    }),
    async addItem () {
      await this.createItem()
    },
    async createItem () {
      try {
        // Submit the form.
        await this.form.post(`/api/items`)

        // Request new items data
        await this.fetchItems()

      } catch (e) { }
    },
    async removeItem (item) {
      try {
        await this.deleteItem(item)

        // Request new items data
        await this.fetchItems()
      } catch (e) { }
    }
  },

  async created () {
    await this.fetchItems()
  }
}
</script>
